doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        head
        title  Bienes Raices | #{pagina}
        block styles  
        link(rel="stylesheet", type=("text/css") href="/css/app.css")
    body.min-screen.bg-gray-50 
        include includes/header-app.pug

        main(class="mx-auto container mt-10 px-2")
            block contenido 

        block scripts    